volumes:
  postgres-data:
    driver: local
  kestra-data:
    driver: local

services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10
    # NOTE: no ports here, Postgres is only for Kestra inside Docker network
    # ports:
    #   - "5432:5432"

  kestra:
    image: kestra/kestra:latest
    restart: unless-stopped
    user: "root"
    command: server standalone
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8999:8080"        # Kestra UI -> http://localhost:8999
    volumes:
      - kestra-data:/app/storage
      - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4

        kestra:
          server: 
            basicAuth: 
              username: shopzada@gmail.com 
              password: Shopzada1234
          repository:
            type: postgres
          queue:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          url: "http://localhost:8999/"